*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@300&family=Montserrat:wght@200&display=swap');

body {
  --color1: #c95a7b ;
  --color2: #000000 ;
  --montserrat: 'Montserrat', sans-serif;
}
.menu svg{
width: 30px;
height:30px;
margin-left: 30px;

}
.menu svg:hover path{
fill: #ff4d89;
transition: 0.3s;
}
.menu a img{
width: 43px;
height: 43px;
z-index: 3;
margin: 15px;
margin-left: 10px;
position: absolute;
top: 20%;
}
.menu a img:hover{

fill: #e91e63;

}

.nav-item a:last-child{
margin-right: 30px;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
}
.logo img {width: 80px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--color2);
      transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}
.cont-principal img{
  width: 100%;
  height: 40%;
  z-index: 1;

}
.cont-princ-escrit{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 60px;
  top: 40%;
  z-index: 2;
  


}
.cont-princ-escrit h2{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.cont-princ-escrit h1{
font-size: 80px;
font-family: 'Acme', sans-serif;
}
.cont-princ-escrit button{
margin: 10px;
margin-top: 20px;
}
@media screen and (max-width: 1130px) {
  .cont-princ-escrit{
    font-size: 50px;
    z-index: 3;
    position: absolute;
    top: 45%;
  }
  .cont-princ-escrit h1{
    font-size: 50px;
    z-index: 3;
    position: absolute;
    bottom: 90%;
    margin: 10px;
  }
  .cont-princ-escrit h2{
    font-size: 20px;
    z-index: 3;
    top: 50%;
    margin: 15px;
  }
  .cont-princ-escrit button{
    font-size: 25px;
    z-index: 3;
    position: absolute;
    top: 35%;
  }
}

@media screen and (max-width: 780px) {
  .cont-princ-escrit{
    font-size: 18px;
    z-index: 3;
    position: absolute;
    top: 30%;
    right: 50%
  }
  .cont-princ-escrit h1{
    font-size: 40px;
    z-index: 3;
    position: absolute;
    bottom: 90%;
    margin: 10px;
  }
  .cont-princ-escrit h2{
    font-size: 15px;
    z-index: 3;
  }
  .cont-princ-escrit button{
    font-size: 15px;
    z-index: 3;
  }
  }
  @media screen and (max-width: 890px) {
    .cont-princ-escrit{
      font-size: 18px;
      z-index: 3;
      position: absolute;
      top: 35%;
      right: 55%
    }
    .cont-princ-escrit h1{
      font-size: 30px;
      z-index: 3;
      position: absolute;
      bottom: 90%;
      margin: 10px;
    }
    .cont-princ-escrit h2{
      font-size: 12px;
      z-index: 3;
    }
    .cont-princ-escrit button{
      font-size: 14px;
      z-index: 3;
      
    }
    }
    @media screen and (max-width: 640px) {
      .cont-princ-escrit{
        font-size: 10px;
        z-index: 3;
        position: absolute;
        top: 30%;
        left: 9%;
      }
      .cont-princ-escrit h1{
        font-size: 28px;
        z-index: 3;
        position: absolute;
        bottom: 60%;
        margin: 0px;
      }
      .cont-princ-escrit h2{
        font-size: 14px;
        z-index: 3;
        position: absolute;
        top: 0%;
      }
      .cont-princ-escrit button{
        
      display: none;
      }
    }
  @media screen and (max-width: 580px) {
    .cont-princ-escrit{
      font-size: 10px;
      z-index: 3;
      position: absolute;
      top: 27%;
      left: 9%;
    }
    .cont-princ-escrit h1{
      font-size: 28px;
      z-index: 3;
      position: absolute;
      bottom: 60%;
      margin: 0px;
    }
    .cont-princ-escrit h2{
      font-size: 14px;
      z-index: 3;
      position: absolute;
      top: 0%;
    }
    .cont-princ-escrit button{
      
    display: none;
    }
  }
  @media screen and (max-width: 370px) {
    .cont-princ-escrit{
      font-size: 10px;
      z-index: 3;
      position: absolute;
      top: 25%;
      left: 5%;
    }
    .cont-princ-escrit h1{
      font-size: 28px;
      z-index: 3;
      position: absolute;
      bottom: 60%;
      margin: 0px;
    }
    .cont-princ-escrit h2{
      font-size: 14px;
      z-index: 3;
      position: absolute;
      top: 0%;
    }
    .cont-princ-escrit button{
      
    display: none;
    }
  }
  
  /*>>>>>>>>>CARDS<<<<<<<<<<< */
  
  #product-list {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  }
  
  .card {
    height: 310px;
    width: 290px;
    margin: 50px;
    box-shadow: rgba(99, 9, 64, 0.4) 0px 5px 6px, rgba(226, 86, 203, 0.3) 0px 7px 13px -3px, rgba(204, 80, 163, 0.2) 0px -8px 0px inset;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .bixo {
    width: 290px;
    height: 400px;
    object-fit: cover;
    transition: all ease 0.2s - 0.5s;
  }
  
  #intro {
    height: 70px;
    width: 242px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 131px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
  
  }
  
  h1 h3 {
    margin: 10px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
  }
  
  p {
    font-size: 15px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  span {
    font-weight: bold;
    color: #f684bb;
  }
  
  .titulo {
    margin-left: 30px;
    margin-bottom: 0px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 60px 0px 0px 0px;
    font-size: 20px;
    color: #c95a7b;
    font-family: 'Acme', sans-serif;
  
  }
  
  .titulo h4 {


    color: rgb(124, 123, 123);
   
    font-family: 'Acme', sans-serif;
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .card:hover #intro {
    height: 165px;
    bottom: 131px;
  }
  
  .card:hover p {
    visibility: visible;
    opacity: 1;
  }
  
  /*>>>>>>PRODUTOS<<<<<<<<<*/
  
  .produtos {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .produto {
    height: 430px;
    width: 250px;
    margin: 40px;
    object-fit: cover;
    border-radius: 5px;
  
  }
  
  .fotoproduto {
    width: 270px;
    height: 270px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    transition: all ease 0.2s - 0.5s;
    
  }
  
  
  .descproduto {
    height: 70px;
    width: 270px;
    padding: 6px;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: -447px;
    background: #e0e0e0;
    color: #24070e;
    transition: .5s;
  }
  
  .h1p {
    font-size: 25px;
  }