* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-image:  url(Adote\,\ seja\ feliz.svg) ;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: background .8s linear;
}
body.dark{
  background-color: #182442;
}
.box{
  box-shadow: 0px 0px 30px 0px #182442;
  top: 0;
    width: 500px;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background .2s linear;
}
.box.dark{
  box-shadow: 0px 0px 30px 0px #182442;
  top: 0;
    width: 500px;
  height: 100vh;
  background-color: #182442;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background .2s linear;
}
.box h2{
    margin-top: 35px;
}
.box p{
    margin-top: 25px;
}

.container {
  margin-top: 20px;
  background-color: whitesmoke;
  padding: 6px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: background 0.2 linear;
  
}
.container.dark{
  margin-top: 20px;
  background-color: #182442;
  padding: 6px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: background 0.2s linear;

}


form {
  position: absolute;
  margin-top: 40px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
  margin-top: 15px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 #182442;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
  outline: none;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to left, #ff80f4, #b830ac);
  border-radius: 30px;
  transition: .3s;
  opacity: 50%;
}

input[type="text"], input[type="password"] {
  background-color: gainsboro;
  border: none;
  margin-top: 30px;
  text-align: center;
  padding: 8px 0 8px 0px;
  outline: none;
  width: 100%;
  border: 1px solid #182442;
  border-radius: 5px;
  color: #182442;
}

input[type="checkbox"] {
    margin-left: 90px;
    margin-top: 20px;
    
}

button[type="submit"]  {
  background-color: #182442;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
  opacity: 80%;
  transition: .3s;
  box-shadow: 0px 0px 20px 0px rgb(171, 128, 128);
}

button[type="submit"]:hover{
    opacity: 100%;
}

button[type="button"]  {
  background-color: #182442;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
  opacity: 80%;
  transition: .3s;
  box-shadow: 0px 0px 20px 0px rgb(171, 128, 128);
}

button[type="button"]:hover{
    opacity: 100%;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}


#signup {
  left: 500px;
}

@media screen and (max-width: 868px){
	body{
    background-image: none;
  }
  .box{
    width: 1000vw;
  }
 
  
}
